
*.xcuserstate
server/data.py
armybuilder/armybuilder.xcodeproj/project.xcworkspace/xcuserdata/shevlfs.xcuserdatad/UserInterfaceState.xcuserstate
armybuilder/armybuilder.xcodeproj/project.xcworkspace/xcuserdata/shevlfs.xcuserdatad/UserInterfaceState.xcuserstate
