<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<div id="container">
  <div id="header">
    <center><h1>Change Password</h1></center>
  </div>
  <center>
    <form method = "GET" action = "" id = "changePass">
    <input type="password" placeholder="New Password" id="passOne" name = "passOne"/>
    <input type="password" placeholder="Confirm Password" id="passTwo" name = "passTwo"/>
   </center>
  <center>

<input type = "submit" formmethod="POST" name="submitpass" value="Submit">
    </form>
  </center>
  </div>
</div>